@media screen, pagedjs-ignore {
    /* Styles pour les éléments en mode layout */
    [data-mode="layout"] .resize,
    [data-mode="layout"] figure,
    [data-mode="layout"] .insert {
        outline: 1px dashed blue;
        outline-offset: -2px;
    }

    [data-mode="layout"] .insert.selected {
        outline: 1px dashed var(--accentColor);
    }

    [data-mode="layout"] .insert:hover,
    [data-mode="layout"] .resize:hover {
        background-color: hsla(16, 100%, 50%, 0.15);
    }

    /* Styles pour les éléments en mode preview ou hideMarker */
    [data-mode="layout"].interface-preview .insert,
    [data-mode="layout"].interface-preview .resize,
    [data-mode="layout"].interface-preview figure,
    [data-mode="layout"].preview .insert,
    [data-mode="layout"].preview .resize,
    [data-mode="layout"].preview figure,
    [data-mode="layout"].hideMarker .insert,
    [data-mode="layout"].hideMarker .insert::before,
    [data-mode="layout"].hideMarker .insert::after,
    [data-mode="layout"].hideMarker figure {
        background-color: unset;
        outline: unset;
    }

    /* Styles pour les éléments avec data-shortcode */
    [data-mode="layout"] [data-shortcode="insert"] .ui_arrow,
    [data-mode="layout"] [data-shortcode="insert"] .ui_screen,
    [data-mode="layout"] [data-shortcode="insert"] .ui_resize,
    [data-mode="layout"] [data-shortcode="figure"] .ui_arrow,
    [data-mode="layout"] [data-shortcode="figure"] .ui_row,
    [data-mode="layout"] [data-shortcode="figure"] .ui_resize,
    [data-mode="layout"] [data-shortcode="image"] .ui_arrow,
    [data-mode="layout"] [data-shortcode="image"] .ui_row,
    [data-mode="layout"] [data-shortcode="image"] .ui_resize,
    [data-mode="layout"] [data-shortcode="resize"] .ui_alignself,
    [data-mode="layout"] [data-shortcode="resize"] .ui_arrow {
        display: none;
    }

    /* Styles pour les pseudo-éléments ::before */
    #cover .insert::before,
    #cover figure::before,
    .modulargrid .insert::before,
    .modulargrid figure::before,
    .content figure::before {
        content: "←";
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        background-color: red;
        color: #fff;
        padding: 2px 5px;
        font-size: 14px;
        z-index: 20000;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Styles pour les pseudo-éléments ::after */
    #cover .insert::after,
    #cover figure::after,
    .modulargrid .insert::after,
    .modulargrid figure::after,
    .content figure::after {
        content: "Press ⇧ key before hovering";
        position: absolute;
        top: 0px;
        left: 0;
        background-color: var(--accentColor);
        color: black;
        opacity: 0;
        padding: 2px 5px;
        z-index: 20000;
    }

    /* Styles pour les pseudo-éléments ::after au survol */
    #cover .insert.hover::after,
    #cover figure.hover::after,
    .modulargrid .insert.hover::after,
    .modulargrid figure.hover::after,
    .content figure.hover::after {
        opacity: 1;
    }

    /* Styles pour les pseudo-éléments ::before au survol */
    #cover .insert.hover::before,
    #cover figure.hover::before,
    .modulargrid .insert:hover::before,
    .modulargrid figure:hover::before,
    .content figure:hover::before {
        opacity: 0;
    }

    /* Styles pour les pseudo-éléments ::before lorsqu'ils sont sélectionnés */
    #cover .insert.selected::before,
    #cover figure.selected::before,
    .modulargrid .insert.selected::before,
    .modulargrid figure.selected::before,
    .content figure.selected::before {
        opacity: 1;
    }

    /* Styles pour les éléments de positionnement relatif */
    #cover .insert,
    #cover figure,
    .modulargrid .insert,
    .modulargrid figure {
        position: relative;
    }

    /* Styles pour les éléments enfants de .insert */
    #cover .insert *,
    .modulargrid .insert * {
        pointer-events: none;
        user-select: none;
    }

    /* Styles pour les paragraphes dans .insert */
    #cover .insert p,
    .modulargrid .insert p {
        overflow: hidden;
        white-space: nowrap;
    }

    /* Styles pour masquer les pseudo-éléments dans certaines classes */
    .hideMarker .insert::before,
    .hideMarker .insert::after,
    .hideMarker figure::before,
    .hideMarker figure::after,
    .interface-preview .insert::before,
    .interface-preview .insert::after,
    .interface-preview figure::before,
    .interface-preview figure::after {
        display: none;
    }
}
