	.appendices {
		page: appendices;
		page-break-before: always;
		/* “reset” pagebox left margin : */
		margin-left: calc(
			-1 * (var(--pagedjs-margin-left) - var(--pagedjs-margin-right))
		);
	}
	.appendices > h2 {
		position: absolute !important;
		border: 0 !important;
		height: 1px !important;
		width: 1px !important;
		padding: 0 !important;
		overflow: hidden !important;
		clip: rect(0, 0, 0, 0) !important;
	}

	.videofigure,
	.figure {
		grid-column: var(--printcol, auto) / span var(--printwidth, 3);
		grid-row: var(--printrow, auto) / span var(--printheight, 1);
		align-self: var(--alignself, start);
	}

	/* .videofigure, *,
    .figure * {
      align-self: var(--alignself, start);
  } */

	.figure {
		position: relative;
		justify-self: stretch;
	}

	.appendices .videofigure .video {
		margin-top: 0;
	}

		.figure.print-top {
		align-self: start;
	}
	.figure.print-center {
		align-self: center;
	}
	.figure.print-bottom {
		align-self: end;
	}