.footnote {
    float: footnote;
    counter-increment: footnote;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.footnote:has(.breakcolumn) {
	break-inside: auto;
	-webkit-column-break-inside: auto;
}

.footnotes-sep,
section.footnotes {
	display: none;
}

::footnote-call {
	font-weight: bold;
	content: "[" counter(footnote) "] ";
	font-variant-position: normal;
	vertical-align: baseline;
	font-size: 100%;
	padding-left: 0.25em;
}

::footnote-marker {
	content: "[" counter(footnote-marker) "] ";
	font-weight: bold;
}

.pagedjs_footnote_inner_content {
	font-size: var(--smallsize);
    margin-top: 5mm;
    display: grid!important;
    grid-template-columns: 1fr 1fr!important;
    column-gap: 8mm!important;
}
