/*! grid */
/*!
* Pure CSS Responsive Grid Overlay
* README: https://github.com/larsenwork/Pure-CSS-Responsive-Grid-Overlay
*/



:root {
  --color-pageBox: 16, 100%, 50%;
  --color-marginBox: blue;
}

/**
* Styling
*/

@media screen,
pagedjs-ignore {

  .pagedjs_area,  
  .show_marker,
  .content {
    background-image: var(--g-gradient-row), var(--g-gradient-column);
    background-size: 100% calc(100% + var(--g-row-gutter)), calc(100% + var(--g-column-gutter)) 100%;
    z-index: 1000;

  /* General */
  --g-z_index: 2147483647;

  /* Color (HSL) */
  --g-color: var(--color-pageBox);
  --g-opacity-baseline: 0.1;
  --g-opacity-line: 0.5;
  --g-opacity-column: 0;
  --g-opacity-row: 0;
  --g-opacity-gutter: 0.02;

  /* Baseline */
  --g-baseline-height: 8px;
  --g-baseline-start: 0px;

  /* Media Query String */
  --g-media_query: 'Base';

  /* Colors */
  --g-color-line: hsla(var(--g-color), var(--g-opacity-line));
  --g-color-column: hsla(var(--g-color), var(--g-opacity-column));
  --g-color-gutter: hsla(var(--g-color), var(--g-opacity-gutter));
  --g-color-baseline: hsla(var(--g-color), var(--g-opacity-baseline));
  --g-color-row: hsla(var(--g-color), var(--g-opacity-row));

  /* Gradient Helpers */
  --line-thickness: 1px;

  --column-start: 0;
  --column-start-line: var(--line-thickness);
  --column-end: calc((100% / var(--g-column-count)) - var(--g-column-gutter) - var(--line-thickness));
  --column-end-line: calc((100% / var(--g-column-count)) - var(--g-column-gutter));
  --column-gutter-end: calc(100% / var(--g-column-count));

  --row-start: 0;
  --row-start-line: var(--line-thickness);
  --row-end: calc((100% / var(--g-row-count,1)) - var(--g-row-gutter) - var(--line-thickness));
  --row-end-line: calc((100% / var(--g-row-count,1)) - var(--g-row-gutter));
  --row-gutter-end: calc(100% / var(--g-row-count,1));

  /* Gradients */
  --g-gradient-column:
    repeating-linear-gradient(to right,
      var(--g-color-line) var(--column-start),
      var(--g-color-line) var(--column-start-line),
      var(--g-color-column) var(--column-start-line),
      var(--g-color-column) var(--column-end),
      var(--g-color-line) var(--column-end),
      var(--g-color-line) var(--column-end-line),
      var(--g-color-gutter) var(--column-end-line),
      var(--g-color-gutter) var(--column-gutter-end));
      
  --g-gradient-row:
    repeating-linear-gradient(to bottom,
      var(--g-color-line) var(--row-start),
      var(--g-color-line) var(--row-start-line),
      var(--g-color-row) var(--row-start-line),
      var(--g-color-row) var(--row-end),
      var(--g-color-line) var(--row-end),
      var(--g-color-line) var(--row-end-line),
      var(--g-color-gutter) var(--row-end-line),
      var(--g-color-gutter) var(--row-gutter-end));
  }

}