@font-face {
    font-family: 'BBBBaskervvol-Base';
    src: url('BBBBaskervvol-Base.woff2') format('woff2'),
        url('BBBBaskervvol-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BBBBaskervvol-Fondue';
    src: url('BBBBaskervvol-Fondue.woff2') format('woff2'),
        url('BBBBaskervvol-Fondue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}